@model MovieModel

<div class="col">
    <div class="card h-100">
        <img src="@Model.PosterPath" class="card-img-top img-fluid" alt="@Model.Title" />
        <div class="card-body p-3">
            <h5 class="card-title">@Model.Title @Model.ReleaseDate</h5>

            @foreach (var genre in Model.Genres)
            {
                <a href="@Url.Action("SearchByGenre",new {genre = genre, page = 1})"
                   class="btn btn-outline-dark mb-2 me-2">@genre</a>
            }

        </div>
        <div class="card-footer">
            <small class="text-muted d-flex justify-content-between">
                <div class="rait">
                    <span>&#11088;</span>
                    @{
                        var rait = Model.Rating > 0 ? Model.Rating.ToString() : "-";
                    }
                    @rait
                </div>
                <button value="@Model" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#MovieInfo-@Model.Id">&#128712;</button>
            </small>

            <div class="modal fade" id="MovieInfo-@Model.Id" tabindex="-1" aria-labelledby="movieInfoLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header visually-hidden-focusable">
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="@Model.PosterPath" class="img-fluid rounded-start" alt="@Model.Title">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                @Model.Title
                                            </h5>
                                            <p class="card-text">
                                                @Model.ReleaseDate
                                                <span>&#11088;</span>
                                                @rait
                                                <br />
                                                @foreach (var genre in Model.Genres)
                                                {
                                                    <a href="@Url.Action("SearchByGenre",new {genre = genre, page = 1})">@genre</a>
                                                }
                                                <br />
                                                @Model.Overview
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>